.breadcumb_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  font-size: 0.875rem;
  color: $gray;
  a:last-of-type {
    span:last-of-type {
      display: none;
    }
  }
}

.breadcumb_link {
  color: $gray;
  text-decoration: none;
}

.breadcumb_separator {
  margin-right: 6px;
  margin-left: 6px;
}
