.breadcumb_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 75px;
  font-size: 0.875rem;
  color: $gray;
  a:last-of-type {
    span:last-of-type {
      display: none;
    }
  }

  @include breakpoint("xs") {
    //show only the first element in the div
    a:nth-of-type(n + 2) {
      display: none;
    }
    margin-left: 20px;
    font-size: 0.8rem;
  }

  @include breakpoint("lg") {
    a:nth-of-type(n + 2) {
      display: flex;
    }
    margin-left: 20px;
    font-size: 0.875rem;
  }
}

.breadcumb_link {
  color: $gray;
  text-decoration: none;
}

.breadcumb_separator {
  margin-right: 6px;
  margin-left: 6px;
}
