.searchHeader_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  background-color: $yellow;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 56px;

  > div {
    display: flex;
    flex: auto;
    max-width: 1100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include breakpoint("xs") {
      max-width: 100%;
      margin-left: 20px;
      margin-right: 20px;
    }
    @include breakpoint("md") {
      max-width: 480px;
    }
    @include breakpoint("lg") {
      max-width: 768px;
    }
    @include breakpoint("xl") {
      max-width: 1100px;
    }
  }
}

.searchHeader_logoML {
  width: 53px;
  margin-right: 26px;
  cursor: pointer;
  margin-top: 4px;

  @include breakpoint("xs") {
    width: 36px;
    margin-right: 16px;
  }

  @include breakpoint("xl") {
    width: 53px;
    margin-right: 26px;
  }
}
